<app-header></app-header>
<section class="feature-section section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="image-content">
					<div class="section-title text-center">
						<h3>Best Features
							<span>of Our Hospital</span>
						</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam magni in at debitis <br>
							nam error officia vero tempora alias? Sunt?</p>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="item">
								<div class="icon-box">
									<figure>
										<a href="#">
											<img src="../assets/images/resource/1.png" alt="">
										</a>
									</figure>
								</div>
								<h6>Orthopedics</h6>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur 
									at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<div class="icon-box">
									<figure>
										<a href="#">
											<img src="../assets/images/resource/2.png" alt="">
										</a>
									</figure>
								</div>
								<h6>Diaginostic</h6>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
								at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<div class="icon-box">
									<figure>
										<a href="#">
											<img src="../assets/images/resource/3.png" alt="">
										</a>
									</figure>
								</div>
								<h6>Psycology</h6>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
								at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<div class="icon-box">
									<figure>
										<a href="#">
											<img src="../assets/images/resource/4.png" alt="">
										</a>
									</figure>
								</div>
								<h6>General Treatment</h6>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur
								at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feature-section section bg-gray">
    <div class="container">
    <div class="border_bottom">
            <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        
                            <div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="business_info">
                                            <div class="icon">
                                                <i class="flaticon-first-aid-kit"></i>
                                            </div>
                                            <h3>Leading edge care for Your family</h3>
                                            <p>Esteem spirit temper too say adieus who direct esteem.
                                                It esteems luckily picture placing drawing. Apartments frequently or motionless on
                                                reasonable projecting expression.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="business_thumb">
                                            <img src="img/about/business.png" alt="">
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="business_info">
                                            <div class="icon">
                                                <i class="flaticon-first-aid-kit"></i>
                                            </div>
                                            <h3>Leading edge care for Your family</h3>
                                            <p>Esteem spirit temper too say adieus who direct esteem.
                                                It esteems luckily picture placing drawing. Apartments frequently or motionless on
                                                reasonable projecting expression.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="business_thumb">
                                            <img src="img/about/business.png" alt="">
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row align-items-center">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="business_info">
                                            <div class="icon">
                                                <i class="flaticon-first-aid-kit"></i>
                                            </div>
                                            <h3>Leading edge care for Your family</h3>
                                            <p>Esteem spirit temper too say adieus who direct esteem.
                                                It esteems luckily picture placing drawing. Apartments frequently or motionless on
                                                reasonable projecting expression.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="business_thumb">
                                            <img src="img/about/business.png" alt="">
                                        </div>
                                    </div>
                                </div>
                    </div>
                  </div>
    </div>
</div>
</section>

<app-footer></app-footer>

